@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&family=Vina+Sans&display=swap');
/** RESETEAR ESTILOS **/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

/*Body*/
body{
    font-family:"Open Sans",sans-serif;
    font-size:20px;
    line-height: 30px;
}  
/**H2 titulos**/

h2{
    font-family: Anton,sans-serif ;
    padding: 20px;
    border:20px;
    max-width: fit-content;
    margin: 0 auto;
    letter-spacing: 3px;
    box-shadow: 5px 5px 0px 0px black;
}
/**TABALS**/
table{
    width: 100%;
    max-width: 500px;
    margin: 70px auto;/*Primer numero arriba y abajo y segundo izquiera derecha*/
    border-collapse: collapse;
    font-family: "Open Sans",sans-serif;
    letter-spacing: 1px;
}

tr{
    border: 1px solid black;

}
th{
    font-family: Anton,sans-serif;
    text-align: left;
    background-color: green;
    font-size: 25px;
    color: white;
    padding: 5px;
}
tf{
    padding: 5px;
}
ul{
    width: fit-content;
    max-width: 500px;
    margin: 70px,auto;
    list-style: square;  
}

.dashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /**Flex-flow: row wrap**/
}

/*Clase profile */
.profile{
    border-bottom:6px solid black;
    width: 100%;
    min-height: 30vh;
    text-align: center;
    padding: 50px 10px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
}